<%= form_for :mytest,:url => match_arrage_admin_match_arrangements_path do |f| %>

    房间类型: <input name="room_type" type="text" value="<%=@id %>"/><br><br>
    周一比赛: <input  name="monday" type="text" value="[]"/><br><br>
    周二比赛 :<input  name="tuesday" type="text" value="[]"/><br><br>
    周三比赛: <input  name="wednesday" type="text" value="[]"/><br><br>
    周四比赛: <input  name="thursday" type="text" value="[]" /><br><br>
    周五比赛: <input  name="friday" type="text" value="[]"/><br><br>
    周六比赛: <input name="saturday" type="text" value="[]"/><br><br>
    周日比赛: <input name="sunday" type="text" value="[]"/><br><br>
    注:填写比赛格式应参考如下内容：<h3><font color="red">[{"begin_time":"15:30", "duration":120, "count":1},{"begin_time":"15:30", "duration":120, "count":1}]</font></h3><br><br>
    <%= f.submit "确定提交" %>
<% end %>