<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGchuanglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,799},{109,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,378}}</string>
                <key>sourceSize</key>
                <string>{109,378}</string>
            </dict>
            <key>BGchuanglian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,688},{109,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,378}}</string>
                <key>sourceSize</key>
                <string>{109,378}</string>
            </dict>
            <key>Icon_Button_bukecaozuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,926},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>Icon_Button_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,737},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>Icon_Button_chupai_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,691},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>Icon_Button_gerenziliao_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,258},{150,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,59}}</string>
                <key>sourceSize</key>
                <string>{150,59}</string>
            </dict>
            <key>Icon_Button_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,645},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>Icon_Button_queren_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,599},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>Icon_Button_qvxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,553},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>Icon_Button_qvxiao_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,507},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>Icon_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,197},{150,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,59}}</string>
                <key>sourceSize</key>
                <string>{150,59}</string>
            </dict>
            <key>Icon_button1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,136},{150,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,59}}</string>
                <key>sourceSize</key>
                <string>{150,59}</string>
            </dict>
            <key>Icon_button_gerenziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,197},{150,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,59}}</string>
                <key>sourceSize</key>
                <string>{150,59}</string>
            </dict>
            <key>Icon_button_shangcheng_hong_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,799},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>Icon_button_shangcheng_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,807},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>Icon_button_shangcheng_lan_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,688},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>Icon_button_shangcheng_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,807},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>Icon_button_shangcheng_lv_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,688},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>Icon_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,926},{105,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{107,62}</string>
            </dict>
            <key>Icon_h_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,78},{105,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{107,62}</string>
            </dict>
            <key>Login_new_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,688},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>Login_new_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,688},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{122,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,47}}</string>
                <key>sourceSize</key>
                <string>{122,47}</string>
            </dict>
            <key>about_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{122,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,47}}</string>
                <key>sourceSize</key>
                <string>{122,47}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,360}}</string>
                <key>sourceSize</key>
                <string>{800,360}</string>
            </dict>
            <key>bg_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{800,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,82}}</string>
                <key>sourceSize</key>
                <string>{800,82}</string>
            </dict>
            <key>bg_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{800,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,109}}</string>
                <key>sourceSize</key>
                <string>{800,109}</string>
            </dict>
            <key>bg_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{800,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,127}}</string>
                <key>sourceSize</key>
                <string>{800,127}</string>
            </dict>
            <key>biaoti02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,438},{144,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,32}</string>
            </dict>
            <key>biaoti05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,408},{144,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,319},{145,27}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{145,27}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>biaoti07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,378},{144,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti08.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,468},{142,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti09.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,348},{144,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,807},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_buy_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,688},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,807},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_use_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,688},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_using.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,807},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_using_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,688},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>changing_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,916},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>changing_over_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,918},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>common_jewelry_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>config.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,972},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>config_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,972},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>daojvkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,507},{510,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{510,120}}</string>
                <key>sourceSize</key>
                <string>{512,122}</string>
            </dict>
            <key>denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,69},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{159,65}</string>
            </dict>
            <key>denglu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{159,65}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{102,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>exit_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,403},{102,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,910},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>guanbi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,926},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,799},{115,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{119,44}</string>
            </dict>
            <key>help_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,799},{115,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{119,44}</string>
            </dict>
            <key>kuang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,783},{234,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,49}}</string>
                <key>sourceSize</key>
                <string>{236,49}</string>
            </dict>
            <key>kuang_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,783},{232,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{232,44}}</string>
                <key>sourceSize</key>
                <string>{236,52}</string>
            </dict>
            <key>kuang_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,954},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>kuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,910},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,294},{107,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{107,62}}</string>
                <key>sourceSize</key>
                <string>{111,64}</string>
            </dict>
            <key>more_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,185},{107,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{107,62}}</string>
                <key>sourceSize</key>
                <string>{111,64}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,910},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>setup_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,910},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,136},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f840804c5d92296b47308a0b8ba73bdb$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
