<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGchuanglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,910},{109,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,378}}</string>
                <key>sourceSize</key>
                <string>{109,378}</string>
            </dict>
            <key>BGchuanglian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,475},{109,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,378}}</string>
                <key>sourceSize</key>
                <string>{109,378}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,626},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>about_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,521},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,360}}</string>
                <key>sourceSize</key>
                <string>{800,360}</string>
            </dict>
            <key>bg_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,182},{800,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,82}}</string>
                <key>sourceSize</key>
                <string>{800,82}</string>
            </dict>
            <key>bg_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{800,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,109}}</string>
                <key>sourceSize</key>
                <string>{800,109}</string>
            </dict>
            <key>bg_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,190},{800,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,127}}</string>
                <key>sourceSize</key>
                <string>{800,127}</string>
            </dict>
            <key>biankuang_9.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{112,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,456}}</string>
                <key>sourceSize</key>
                <string>{112,456}</string>
            </dict>
            <key>biaoti01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,151},{128,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,37}}</string>
                <key>sourceSize</key>
                <string>{128,37}</string>
            </dict>
            <key>biaoti02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,121},{144,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,32}</string>
            </dict>
            <key>biaoti03.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,560},{126,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,37}}</string>
                <key>sourceSize</key>
                <string>{126,37}</string>
            </dict>
            <key>biaoti04.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,521},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>biaoti05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,91},{144,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{145,27}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{145,27}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>biaoti07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,61},{144,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti08.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,599},{125,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,37}}</string>
                <key>sourceSize</key>
                <string>{125,37}</string>
            </dict>
            <key>biaoti09.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,31},{144,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,684},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_buy_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,638},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>changing_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,855},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>changing_over_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,855},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>common_jewelry_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,130},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>guanbi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,78},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,776},{99,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,44}}</string>
                <key>sourceSize</key>
                <string>{99,44}</string>
            </dict>
            <key>help_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,730},{99,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,44}}</string>
                <key>sourceSize</key>
                <string>{99,44}</string>
            </dict>
            <key>kuang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,823},{234,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,49}}</string>
                <key>sourceSize</key>
                <string>{236,49}</string>
            </dict>
            <key>kuang_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,475},{232,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{232,44}}</string>
                <key>sourceSize</key>
                <string>{236,52}</string>
            </dict>
            <key>kuang_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,866},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>kuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,822},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,933},{102,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,53}}</string>
                <key>sourceSize</key>
                <string>{102,53}</string>
            </dict>
            <key>more_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{102,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,53}}</string>
                <key>sourceSize</key>
                <string>{102,53}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,776},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>setup_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,776},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>shengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,475},{346,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,96}}</string>
                <key>sourceSize</key>
                <string>{346,96}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3a3e03591d3a22d911be684977f6f18$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
