<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,428},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>VIP_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,336},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>beans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,211},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,336},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_menu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,409},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_prop_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,336},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,505},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>btn_store_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,430},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>datingbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,332}}</string>
                <key>sourceSize</key>
                <string>{800,332}</string>
            </dict>
            <key>dianjiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{208,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,207}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>fangjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,211},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,336},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,336},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,336},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qj_zuo_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,336},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df2afb7fdb0ee90be2986814a86e8723$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
