<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizhuwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{609,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,359}}</string>
                <key>sourceSize</key>
                <string>{609,359}</string>
            </dict>
            <key>jiesuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{308,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,83}}</string>
                <key>sourceSize</key>
                <string>{308,83}</string>
            </dict>
            <key>jiesuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{243,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,258}}</string>
                <key>sourceSize</key>
                <string>{243,258}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{288,83}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{288,83}}</string>
                <key>sourceSize</key>
                <string>{298,145}</string>
            </dict>
            <key>nongmingwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{609,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,359}}</string>
                <key>sourceSize</key>
                <string>{609,359}</string>
            </dict>
            <key>shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,29},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,613},{298,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,145}}</string>
                <key>sourceSize</key>
                <string>{298,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc8956bbcf9e5926917a73d8895255ad$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
