<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S_40_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,954},{53,72}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,12},{53,72}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>S_40_vip_weijihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,954},{53,72}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,12},{53,72}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>S_42_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,901},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>S_42_vip_weijihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,901},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>S_44_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,943},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>S_44_vip_weijihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,771},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>S_46_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,857},{119,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,84}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>S_46_vip_weijihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,771},{119,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,84}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>VIP_heikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,760},{139,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,138}}</string>
                <key>sourceSize</key>
                <string>{139,138}</string>
            </dict>
            <key>VIP_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,943},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>VIPlicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,369},{101,27}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,13},{101,27}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>dizhuwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{609,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,359}}</string>
                <key>sourceSize</key>
                <string>{609,359}</string>
            </dict>
            <key>hongqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,771},{181,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{181,45}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>huawen_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,857},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>huawen_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,857},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>jiesuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,644},{308,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,83}}</string>
                <key>sourceSize</key>
                <string>{308,83}</string>
            </dict>
            <key>jiesuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,730},{243,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,258}}</string>
                <key>sourceSize</key>
                <string>{243,258}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{288,83}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{288,83}}</string>
                <key>sourceSize</key>
                <string>{298,145}</string>
            </dict>
            <key>nongmingwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{609,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,359}}</string>
                <key>sourceSize</key>
                <string>{609,359}</string>
            </dict>
            <key>shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,522},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,472},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>vip_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,571},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,20}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,613},{298,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,145}}</string>
                <key>sourceSize</key>
                <string>{298,145}</string>
            </dict>
            <key>xuanxiangka1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,730},{127,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,39}}</string>
                <key>sourceSize</key>
                <string>{127,39}</string>
            </dict>
            <key>xuanxiangka2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,730},{127,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,39}}</string>
                <key>sourceSize</key>
                <string>{127,39}</string>
            </dict>
            <key>yindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,365}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{639,365}}</string>
                <key>sourceSize</key>
                <string>{651,373}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c038a93ec30697541b063040a2b218f$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
