<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>btn_cancel_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,726},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>btn_cancel_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,961},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>btn_forgot_password.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,607},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_forgot_password_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,927},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1008},{25,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{25,14}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>btn_history_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1008},{25,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{25,14}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>btn_history_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,383},{222,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,163}}</string>
                <key>sourceSize</key>
                <string>{222,163}</string>
            </dict>
            <key>btn_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,925},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>btn_login_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,925},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>btn_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,971},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>btn_register_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,818},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>btn_register_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,925},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_register_account_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,236},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>d_kuaisu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>d_kuaisu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,866},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>jiesuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{677,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,439}}</string>
                <key>sourceSize</key>
                <string>{677,439}</string>
            </dict>
            <key>jinqi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,768},{133,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,159}}</string>
                <key>sourceSize</key>
                <string>{133,159}</string>
            </dict>
            <key>jinqi_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,607},{133,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,159}}</string>
                <key>sourceSize</key>
                <string>{133,159}</string>
            </dict>
            <key>kuang_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,484},{380,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,149}}</string>
                <key>sourceSize</key>
                <string>{380,149}</string>
            </dict>
            <key>kuang_regist.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{379,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,168}}</string>
                <key>sourceSize</key>
                <string>{379,168}</string>
            </dict>
            <key>shurukuang_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{232,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{232,44}}</string>
                <key>sourceSize</key>
                <string>{236,52}</string>
            </dict>
            <key>shurukuang_zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{243,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{243,34}}</string>
                <key>sourceSize</key>
                <string>{247,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70a6f5c90d16ca279df92b5e8e6389e8$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
