<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weizi_bisaiguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,28},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,24}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>weizi_bisaijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,24}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>wenzi29yuansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,60},{157,27}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{157,27}}</string>
                <key>sourceSize</key>
                <string>{175,29}</string>
            </dict>
            <key>wenzi_10yuansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{157,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{157,27}}</string>
                <key>sourceSize</key>
                <string>{175,29}</string>
            </dict>
            <key>wenzi_20yuansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{157,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{157,27}}</string>
                <key>sourceSize</key>
                <string>{175,29}</string>
            </dict>
            <key>wenzi_30yuansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{157,27}}</string>
                <key>sourceSize</key>
                <string>{175,29}</string>
            </dict>
            <key>wenzi_bisaishuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,54},{108,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{108,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>wenzi_bisaisonghaufei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{154,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{154,33}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>wenzi_shouchongdalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,60},{112,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>yinying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,60},{137,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,41}}</string>
                <key>sourceSize</key>
                <string>{137,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charge.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f55ed77992e167f4093bbea7bfe68cf:1/1$</string>
            <key>textureFileName</key>
            <string>charge.png</string>
        </dict>
    </dict>
</plist>
