<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Login_new_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,328},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>Login_new_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,273},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{122,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,47}}</string>
                <key>sourceSize</key>
                <string>{122,47}</string>
            </dict>
            <key>about_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{122,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,47}}</string>
                <key>sourceSize</key>
                <string>{122,47}</string>
            </dict>
            <key>changing_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,218},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>changing_over_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,163},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>common_jewelry_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,383},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>config.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,273},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>config_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,459},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{102,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>exit_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{102,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,389},{115,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{119,44}</string>
            </dict>
            <key>help_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{115,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{119,44}</string>
            </dict>
            <key>kuang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,49}}</string>
                <key>sourceSize</key>
                <string>{236,49}</string>
            </dict>
            <key>kuang_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{232,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{232,44}}</string>
                <key>sourceSize</key>
                <string>{236,52}</string>
            </dict>
            <key>kuang_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,318},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>kuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,348},{28,28}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,28}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{107,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{107,62}}</string>
                <key>sourceSize</key>
                <string>{111,64}</string>
            </dict>
            <key>more_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,99},{107,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{107,62}}</string>
                <key>sourceSize</key>
                <string>{111,64}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,383},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>setup_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,389},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c32bc3310b6f9fca3a41f9de2e4a9579:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
