<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl-VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{141,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,64}}</string>
                <key>sourceSize</key>
                <string>{141,64}</string>
            </dict>
            <key>dl-bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{54,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>dl-biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{353,92}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{353,92}}</string>
                <key>sourceSize</key>
                <string>{387,94}</string>
            </dict>
            <key>dl-chongfumima.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,139},{239,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{239,28}}</string>
                <key>sourceSize</key>
                <string>{247,28}</string>
            </dict>
            <key>dl-dengluyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,207},{109,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{109,48}</string>
            </dict>
            <key>dl-guanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,33},{54,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>dl-henggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,95},{291,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,23}}</string>
                <key>sourceSize</key>
                <string>{293,25}</string>
            </dict>
            <key>dl-kuaisuzhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,95},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>dl-mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,237},{239,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{239,29}}</string>
                <key>sourceSize</key>
                <string>{245,29}</string>
            </dict>
            <key>dl-mima_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,318},{288,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{288,30}}</string>
                <key>sourceSize</key>
                <string>{294,32}</string>
            </dict>
            <key>dl-nicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,388},{269,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,30}}</string>
                <key>sourceSize</key>
                <string>{271,30}</string>
            </dict>
            <key>dl-queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,139},{111,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,48}}</string>
                <key>sourceSize</key>
                <string>{115,48}</string>
            </dict>
            <key>dl-quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,189},{110,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{112,46}</string>
            </dict>
            <key>dl-tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,63},{53,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>dl-wangjimima.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,100},{140,37}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{140,37}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>dl-xingbie.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,237},{238,29}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{238,29}}</string>
                <key>sourceSize</key>
                <string>{262,29}</string>
            </dict>
            <key>dl-zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{267,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,29}}</string>
                <key>sourceSize</key>
                <string>{269,29}</string>
            </dict>
            <key>dl-zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,68},{141,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,30}}</string>
                <key>sourceSize</key>
                <string>{141,30}</string>
            </dict>
            <key>dl_BeiJin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>denglu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da82caba55bf58dc48e741d126e1fce:b816085ce920bc2c4d3cd1c608d57959:dde3efd363b2bfd63d6f05f76b09484a$</string>
            <key>textureFileName</key>
            <string>denglu.png</string>
        </dict>
    </dict>
</plist>
