<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,548},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>VIP_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,456},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>beans.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,168},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,385},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_menu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,312},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>chongzhika.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,893},{121,96}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{121,96}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>dizhusongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,240},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fangjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,200},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,595},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,398},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>hongmi.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,792},{99,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{99,120}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>huobaohuodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,347},{145,28}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{145,28}}</string>
                <key>sourceSize</key>
                <string>{161,40}</string>
            </dict>
            <key>huodongjiangpin.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,494},{108,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>huodongxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,200},{145,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{145,28}}</string>
                <key>sourceSize</key>
                <string>{157,36}</string>
            </dict>
            <key>ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,912},{105,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{105,120}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,604},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>nongminsongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,168},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>qj_zuo_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,651},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>shouchongdalibao_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{292,164}}</string>
                <key>sourceSize</key>
                <string>{302,174}</string>
            </dict>
            <key>songdoufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>songhuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>yidongdianyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,792},{113,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{113,118}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7542f91b36d94865817439889acb219c:1/1$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
