<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,782},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,884},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,782},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,710},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,650},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a08.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,650},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,650},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,638},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,578},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>a13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,578},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,578},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,566},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,506},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,506},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,506},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,494},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,434},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,434},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,434},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,422},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>beimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{76,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,362},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,362},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,362},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,350},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,290},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,290},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,290},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,278},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,218},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,218},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,218},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,206},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,146},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,146},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,146},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,104},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d08.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,74},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,74},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,74},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>w01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>w02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poke_cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa13d7b66e00796daf60a62348374af6:6a16e8796f017f992d8eabec882e1dd1:5e2946fb1ae05d6723f9ae0a29aa85bf$</string>
            <key>textureFileName</key>
            <string>poke_cards.png</string>
        </dict>
    </dict>
</plist>
