<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,265},{16,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{16,17}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>douzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,77},{18,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>dzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,283},{13,13}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{13,13}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>fengexian-shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,77},{19,238}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{19,238}}</string>
                <key>sourceSize</key>
                <string>{25,250}</string>
            </dict>
            <key>jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{570,49}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{570,49}}</string>
                <key>sourceSize</key>
                <string>{588,65}</string>
            </dict>
            <key>phb-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{73,33}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,33}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>phb-feigexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,97},{727,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,18}}</string>
                <key>sourceSize</key>
                <string>{727,20}</string>
            </dict>
            <key>yxz2-tishimuban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{261,79}}</string>
                <key>sourceSize</key>
                <string>{263,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongyong.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0eb33d45db4cc874f3d5daeafc11055:1/1$</string>
            <key>textureFileName</key>
            <string>gongyong.png</string>
        </dict>
    </dict>
</plist>
