<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phb-beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>phb-feigexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,54},{727,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,18}}</string>
                <key>sourceSize</key>
                <string>{727,20}</string>
            </dict>
            <key>phb-xiaotu/anniu-huafeibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,834},{100,41}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{100,41}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>phb-xiaotu/phb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,834},{71,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,33}}</string>
                <key>sourceSize</key>
                <string>{73,35}</string>
            </dict>
            <key>phb-xiaotu/phb-12803.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,804},{51,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{51,14}}</string>
                <key>sourceSize</key>
                <string>{61,18}</string>
            </dict>
            <key>phb-xiaotu/phb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,834},{71,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,33}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>phb-xiaotu/phb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,936},{71,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,34}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>phb-xiaotu/phb-32675.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,804},{53,15}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,15}}</string>
                <key>sourceSize</key>
                <string>{57,17}</string>
            </dict>
            <key>phb-xiaotu/phb-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,934},{71,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,33}}</string>
                <key>sourceSize</key>
                <string>{73,35}</string>
            </dict>
            <key>phb-xiaotu/phb-56107.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,804},{53,14}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{53,14}}</string>
                <key>sourceSize</key>
                <string>{57,24}</string>
            </dict>
            <key>phb-xiaotu/phb-62005.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,907},{53,14}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{53,14}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>phb-xiaotu/phb-caigubang.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,834},{98,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>phb-xiaotu/phb-douzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,954},{42,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>phb-xiaotu/phb-douzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,34},{18,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>phb-xiaotu/phb-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,936},{82,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,30}}</string>
                <key>sourceSize</key>
                <string>{86,32}</string>
            </dict>
            <key>phb-xiaotu/phb-jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{30,21}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,21}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>phb-xiaotu/phb-lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,804},{47,15}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{47,15}}</string>
                <key>sourceSize</key>
                <string>{59,25}</string>
            </dict>
            <key>phb-xiaotu/phb-mingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1007},{33,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{33,15}}</string>
                <key>sourceSize</key>
                <string>{45,19}</string>
            </dict>
            <key>phb-xiaotu/phb-paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{183,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{183,64}}</string>
                <key>sourceSize</key>
                <string>{185,64}</string>
            </dict>
            <key>phb-xiaotu/phb-tangyouyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,894},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>phb-xiaotu/phb-touxiangmeijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,923},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>phb-xiaotu/phb-touxiangzhangbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,834},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>phb-xiaotu/phb-touxiangzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,834},{56,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>phb-xiaotu/phb-xiaotu_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{47,16}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{47,16}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>phb-xiaotu/phb-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,783},{49,16}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,16}}</string>
                <key>sourceSize</key>
                <string>{61,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pai_hang_bang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42444fac5f4e61b20271682a7c551eb4:1/1$</string>
            <key>textureFileName</key>
            <string>pai_hang_bang.png</string>
        </dict>
    </dict>
</plist>
