<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shangchen-1/sc-beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1045},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1902},{55,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-doudou.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,983},{60,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-douzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1838},{62,37}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-fuwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1994},{64,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1923},{69,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,34}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-jingxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,858},{61,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,579},{62,23}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,23}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,921},{60,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-youxishangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,78},{183,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,72}}</string>
                <key>sourceSize</key>
                <string>{183,74}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1107},{436,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{436,37}}</string>
                <key>sourceSize</key>
                <string>{446,39}</string>
            </dict>
            <key>shangchen-2/sc-xiaotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,643},{52,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,51}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>shangchen-3/sc-xiaotu/sc-beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,225},{352,174}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{352,174}}</string>
                <key>sourceSize</key>
                <string>{352,178}</string>
            </dict>
            <key>shangchen-3/sc-xiaotu/sc-tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,696},{160,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{160,44}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>shangchen-3/sc-xiaotu/sc-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1545},{291,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{291,72}}</string>
                <key>sourceSize</key>
                <string>{291,82}</string>
            </dict>
            <key>youxi_jianjie/yxjj-beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{188,74}}</string>
                <key>sourceSize</key>
                <string>{190,76}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-duozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,579},{678,162}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{678,162}}</string>
                <key>sourceSize</key>
                <string>{684,162}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-jianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,152},{183,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{183,71}}</string>
                <key>sourceSize</key>
                <string>{185,73}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{612,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{612,26}}</string>
                <key>sourceSize</key>
                <string>{630,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangchen_jianjie.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0ac8f4055777ab10dd48662f846a895:1/1$</string>
            <key>textureFileName</key>
            <string>shangchen_jianjie.png</string>
        </dict>
    </dict>
</plist>
