<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shangchen-1/sc-beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,1320},{55,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-douzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1183},{62,37}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-fuwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{64,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{69,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,34}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{62,23}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,23}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,916},{60,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-youxishangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{183,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,72}}</string>
                <key>sourceSize</key>
                <string>{183,74}</string>
            </dict>
            <key>shangchen-1/sc-xiaotu/sc-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,978},{436,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{436,37}}</string>
                <key>sourceSize</key>
                <string>{446,39}</string>
            </dict>
            <key>shangchen-2/sc-xiaotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,701},{52,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,51}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>shangchen-3/sc-xiaotu/sc-beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,149},{352,174}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{352,174}}</string>
                <key>sourceSize</key>
                <string>{352,178}</string>
            </dict>
            <key>shangchen-3/sc-xiaotu/sc-tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,754},{160,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{160,44}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>shangchen-3/sc-xiaotu/sc-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{291,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{291,72}}</string>
                <key>sourceSize</key>
                <string>{291,82}</string>
            </dict>
            <key>youxi_jianjie/yxjj-beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-duozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,503},{678,162}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{678,162}}</string>
                <key>sourceSize</key>
                <string>{684,162}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-jianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,76},{183,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{183,71}}</string>
                <key>sourceSize</key>
                <string>{185,73}</string>
            </dict>
            <key>youxi_jianjie/yxjj-xiaotu/yx-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,87},{612,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{612,26}}</string>
                <key>sourceSize</key>
                <string>{630,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangchen_jianjie.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:154af0c1e65f01ed551d6bf4d3b7a9fe:1/1$</string>
            <key>textureFileName</key>
            <string>shangchen_jianjie.png</string>
        </dict>
    </dict>
</plist>
