<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>youxizhong1/yx-beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-buchu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,484},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,826},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-chongxuan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,712},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-chongxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,598},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-chupai-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,484},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,862},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-huanzhuo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,895},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-huanzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,895},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-tishi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,908},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,899},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-zhunbei-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,844},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu-zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,789},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,734},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,679},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,624},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,569},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,514},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,459},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz-touxangnan.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,679},{78,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,862},{44,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,954},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,259},{41,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,78},{50,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,36}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-bujiao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,404},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,349},{112,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{142,55}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,213},{786,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,99}}</string>
                <key>sourceSize</key>
                <string>{790,99}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-dishuz.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,20},{56,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{56,16}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-douzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1006},{16,16}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,862},{89,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,31}}</string>
                <key>sourceSize</key>
                <string>{89,33}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{96,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,484},{65,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{65,69}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,94},{99,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,32}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-shoumuban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{425,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{425,53}}</string>
                <key>sourceSize</key>
                <string>{429,53}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-shuzhi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{19,16}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{19,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-touxiang nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,940},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-touxiang nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,598},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-xiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,52},{178,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,40}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-xiapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,130},{35,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,52}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-zhongjiandapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{48,189}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,189}}</string>
                <key>sourceSize</key>
                <string>{52,191}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-zhongjianpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,598},{52,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,302},{40,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{40,45}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-dizhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,759},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-kulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,954},{64,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-pingmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,213},{44,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,41}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,195},{138,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,69}}</string>
                <key>sourceSize</key>
                <string>{144,71}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-tishibeijingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,484},{376,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{376,220}}</string>
                <key>sourceSize</key>
                <string>{378,220}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-tishimuban.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,751},{261,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{261,79}}</string>
                <key>sourceSize</key>
                <string>{263,79}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz3-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,911},{92,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,32}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-beijingban.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,484},{265,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{265,85}}</string>
                <key>sourceSize</key>
                <string>{267,85}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,911},{92,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,32}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,94},{144,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,117}}</string>
                <key>sourceSize</key>
                <string>{148,117}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-xiaolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,484},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youxi_zhong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb826c69c53444764b989615d52dd240:1d2fbb3e463e4cb37e47ad32ad9d098c:2d03387b9bfa19902696e1244f33e914$</string>
            <key>textureFileName</key>
            <string>youxi_zhong.png</string>
        </dict>
    </dict>
</plist>
