<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoza_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{212,200}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,98},{212,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>baoza_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{196,204}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,93},{196,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>baoza_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{198,214}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,84},{198,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>baoza_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,770},{162,180}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,117},{162,180}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>baoza_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{304,304}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{304,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>baoza_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{280,264}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,53},{280,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>baoza_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,364}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{366,364}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>feiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,654},{179,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,169}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,368},{136,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,192}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
            <key>spring_char.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,308},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>spring_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,268},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>spring_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,440},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{212,212}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6033909c8b6cfefd8f099fdd39789414:1/1$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
