<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoza_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,512},{102,94}}</string>
                <key>offset</key>
                <string>{-28,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,70},{102,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,372},{370,368}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,15},{370,368}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{384,368}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,15},{384,368}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,356}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{432,356}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{416,352}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,30},{416,352}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,512},{102,94}}</string>
                <key>offset</key>
                <string>{-28,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,70},{102,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,382},{98,92}}</string>
                <key>offset</key>
                <string>{-30,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,76},{98,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{136,128}}</string>
                <key>offset</key>
                <string>{-23,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,54},{136,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,222},{162,158}}</string>
                <key>offset</key>
                <string>{-26,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,38},{162,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,742},{188,174}}</string>
                <key>offset</key>
                <string>{-33,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,34},{188,174}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{186,218}}</string>
                <key>offset</key>
                <string>{-29,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,26},{186,218}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,742},{246,254}}</string>
                <key>offset</key>
                <string>{-28,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,18},{246,254}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>baoza_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{302,306}}</string>
                <key>offset</key>
                <string>{-31,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,14},{302,306}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>hu die 001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,742},{40,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hu die 002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,918},{40,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:912520ae57a3e75e6325f0f81ccea732$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
