<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG-diaosui-you.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,43},{39,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,126}}</string>
                <key>sourceSize</key>
                <string>{39,126}</string>
            </dict>
            <key>BG-diaosui.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{39,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,126}}</string>
                <key>sourceSize</key>
                <string>{39,126}</string>
            </dict>
            <key>jipaiqi_a .png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{533,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,58}}</string>
                <key>sourceSize</key>
                <string>{533,58}</string>
            </dict>
            <key>jipaiqi_b .png</key>
            <dict>
                <key>frame</key>
                <string>{{932,48},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>jipaiqi_c .png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>kuang01_tianchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,84},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>touxianganniulanHuise.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,484},{224,396}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{224,396}}</string>
                <key>sourceSize</key>
                <string>{224,398}</string>
            </dict>
            <key>xiaojiantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,106},{18,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>xiaojiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,84},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>xiaojiantou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,94},{20,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>xiaojiantou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,84},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06de11bf5fd63bd054015573a489bb6b$</string>
            <key>textureFileName</key>
            <string>common2.png</string>
        </dict>
    </dict>
</plist>
