<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGchuanglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,559},{109,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,378}}</string>
                <key>sourceSize</key>
                <string>{109,378}</string>
            </dict>
            <key>BGchuanglian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{109,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,378}}</string>
                <key>sourceSize</key>
                <string>{109,378}</string>
            </dict>
            <key>Icon_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,185},{105,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{107,62}</string>
            </dict>
            <key>Icon_h_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,78},{105,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{107,62}</string>
            </dict>
            <key>Login_new_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>Login_new_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,810},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,664},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>about_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,559},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,360}}</string>
                <key>sourceSize</key>
                <string>{800,360}</string>
            </dict>
            <key>bg_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{800,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,82}}</string>
                <key>sourceSize</key>
                <string>{800,82}</string>
            </dict>
            <key>bg_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{800,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,109}}</string>
                <key>sourceSize</key>
                <string>{800,109}</string>
            </dict>
            <key>bg_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,181},{800,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,127}}</string>
                <key>sourceSize</key>
                <string>{800,127}</string>
            </dict>
            <key>biaoti02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,121},{144,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,32}</string>
            </dict>
            <key>biaoti05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,91},{144,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{145,27}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{145,27}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>biaoti07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,61},{144,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti08.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,151},{142,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>biaoti09.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,31},{144,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,28}}</string>
                <key>sourceSize</key>
                <string>{152,30}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,769},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_buy_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,888},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,769},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_use_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,681},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_using.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,820},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>btn_using_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,820},{117,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{117,44}</string>
            </dict>
            <key>changing_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,707},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>changing_over_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,604},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,53}}</string>
                <key>sourceSize</key>
                <string>{101,53}</string>
            </dict>
            <key>common_jewelry_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>daojvkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,559},{510,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{510,120}}</string>
                <key>sourceSize</key>
                <string>{512,122}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,681},{106,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{106,45}}</string>
                <key>sourceSize</key>
                <string>{112,57}</string>
            </dict>
            <key>exit_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,912},{106,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{106,47}}</string>
                <key>sourceSize</key>
                <string>{112,57}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,344},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>guanbi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,292},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,774},{99,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,44}}</string>
                <key>sourceSize</key>
                <string>{99,44}</string>
            </dict>
            <key>help_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,728},{99,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,44}}</string>
                <key>sourceSize</key>
                <string>{99,44}</string>
            </dict>
            <key>kuang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,939},{234,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,49}}</string>
                <key>sourceSize</key>
                <string>{236,49}</string>
            </dict>
            <key>kuang_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,769},{232,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{232,44}}</string>
                <key>sourceSize</key>
                <string>{236,52}</string>
            </dict>
            <key>kuang_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,681},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>kuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,681},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,500},{102,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,53}}</string>
                <key>sourceSize</key>
                <string>{102,53}</string>
            </dict>
            <key>more_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,396},{102,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,53}}</string>
                <key>sourceSize</key>
                <string>{102,53}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,681},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>setup_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,888},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eba84de0993a88906e471c2a512f29e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
