<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buquankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{450,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,230}}</string>
                <key>sourceSize</key>
                <string>{450,230}</string>
            </dict>
            <key>jiesuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,453}}</string>
                <key>sourceSize</key>
                <string>{607,453}</string>
            </dict>
            <key>jiesuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,336},{319,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,106}}</string>
                <key>sourceSize</key>
                <string>{319,106}</string>
            </dict>
            <key>jiesuan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,202},{322,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,65}}</string>
                <key>sourceSize</key>
                <string>{322,65}</string>
            </dict>
            <key>jiesuan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,269},{320,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,65}}</string>
                <key>sourceSize</key>
                <string>{320,65}</string>
            </dict>
            <key>jiesuan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,457},{140,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,227}}</string>
                <key>sourceSize</key>
                <string>{140,227}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{386,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,198}}</string>
                <key>sourceSize</key>
                <string>{386,198}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,549},{276,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,80}}</string>
                <key>sourceSize</key>
                <string>{276,80}</string>
            </dict>
            <key>shenglichong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{113,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,107}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>shibaichong.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,480},{93,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,67}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,202},{276,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,82}}</string>
                <key>sourceSize</key>
                <string>{276,82}</string>
            </dict>
            <key>ziliaokuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,444},{468,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,308}}</string>
                <key>sourceSize</key>
                <string>{468,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e032872b90569c639e870e348ed36c10$</string>
            <key>textureFileName</key>
            <string>common3.png</string>
        </dict>
    </dict>
</plist>
