<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{133,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,18}}</string>
                <key>sourceSize</key>
                <string>{133,18}</string>
            </dict>
            <key>tanchukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53cea2ff325251e557c1ca9bfae9eb53:1/1$</string>
            <key>textureFileName</key>
            <string>common3.png</string>
        </dict>
    </dict>
</plist>
