<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_heise.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,228},{685,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,19}}</string>
                <key>sourceSize</key>
                <string>{685,19}</string>
            </dict>
            <key>VIP_hongse.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,228},{685,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,19}}</string>
                <key>sourceSize</key>
                <string>{685,19}</string>
            </dict>
            <key>VIP_jingyangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{704,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,37}}</string>
                <key>sourceSize</key>
                <string>{704,37}</string>
            </dict>
            <key>VIP_jingyangkuang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{358,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,6},{358,23}}</string>
                <key>sourceSize</key>
                <string>{704,37}</string>
            </dict>
            <key>VIP_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,352},{1,1}}</string>
                <key>offset</key>
                <string>{-342,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{685,19}</string>
            </dict>
            <key>diyiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,921},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>douzida.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,362},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>douzixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>fenjiexian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{348,3}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{348,3}}</string>
                <key>sourceSize</key>
                <string>{366,3}</string>
            </dict>
            <key>fenjiexian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,352},{346,1}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,1}}</string>
                <key>sourceSize</key>
                <string>{348,1}</string>
            </dict>
            <key>jiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,94},{287,68}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{287,68}}</string>
                <key>sourceSize</key>
                <string>{299,80}</string>
            </dict>
            <key>jipaiqi_a .png</key>
            <dict>
                <key>frame</key>
                <string>{{41,386},{533,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,58}}</string>
                <key>sourceSize</key>
                <string>{533,58}</string>
            </dict>
            <key>jipaiqi_b .png</key>
            <dict>
                <key>frame</key>
                <string>{{400,48},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>jipaiqi_c .png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>kuang01_tianchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>touxianganniulanHuise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,396}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{224,396}}</string>
                <key>sourceSize</key>
                <string>{224,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3cd3be328d70326eef4dee73b2599d0:1/1$</string>
            <key>textureFileName</key>
            <string>common2.png</string>
        </dict>
    </dict>
</plist>
