<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG-diaosui-you.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,362},{39,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,126}}</string>
                <key>sourceSize</key>
                <string>{39,126}</string>
            </dict>
            <key>BG-diaosui.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,646},{39,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,126}}</string>
                <key>sourceSize</key>
                <string>{39,126}</string>
            </dict>
            <key>VIP_heise.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{685,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,19}}</string>
                <key>sourceSize</key>
                <string>{685,19}</string>
            </dict>
            <key>VIP_hongse.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{685,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,19}}</string>
                <key>sourceSize</key>
                <string>{685,19}</string>
            </dict>
            <key>VIP_jingyangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{704,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,37}}</string>
                <key>sourceSize</key>
                <string>{704,37}</string>
            </dict>
            <key>VIP_jingyangkuang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{358,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,6},{358,23}}</string>
                <key>sourceSize</key>
                <string>{704,37}</string>
            </dict>
            <key>VIP_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,350},{1,1}}</string>
                <key>offset</key>
                <string>{-342,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{685,19}</string>
            </dict>
            <key>backgroud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{458,449}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{458,449}}</string>
                <key>sourceSize</key>
                <string>{490,471}</string>
            </dict>
            <key>diyiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,490},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>douzida.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,528},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>douzixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,570},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>fenjiexian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{348,3}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{348,3}}</string>
                <key>sourceSize</key>
                <string>{366,3}</string>
            </dict>
            <key>fenjiexian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{346,1}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,1}}</string>
                <key>sourceSize</key>
                <string>{348,1}</string>
            </dict>
            <key>jiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,689},{287,68}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{287,68}}</string>
                <key>sourceSize</key>
                <string>{299,80}</string>
            </dict>
            <key>jipaiqi_a .png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{533,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,58}}</string>
                <key>sourceSize</key>
                <string>{533,58}</string>
            </dict>
            <key>jipaiqi_b .png</key>
            <dict>
                <key>frame</key>
                <string>{{913,768},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>jipaiqi_c .png</key>
            <dict>
                <key>frame</key>
                <string>{{913,687},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>kuang01_tianchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,537},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>paihangbang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,603},{113,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{113,41}}</string>
                <key>sourceSize</key>
                <string>{115,47}</string>
            </dict>
            <key>touxianganniulanHuise.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,484},{224,396}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{224,396}}</string>
                <key>sourceSize</key>
                <string>{224,398}</string>
            </dict>
            <key>xiaojiantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,550},{18,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>xiaojiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,575},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>xiaojiantou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,528},{20,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>xiaojiantou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,553},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f491bdcb281335614987cbee86eb2190$</string>
            <key>textureFileName</key>
            <string>common2.png</string>
        </dict>
    </dict>
</plist>
