<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt-10yuansonhuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,357},{106,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,20}}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
            <key>dt-beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>dt-biejujiangxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,413},{100,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>dt-bisai.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,119},{211,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,53}}</string>
                <key>sourceSize</key>
                <string>{211,53}</string>
            </dict>
            <key>dt-dadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,350},{18,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>dt-fangjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,555},{66,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>dt-fangjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{68,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>dt-fangjian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{66,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>dt-fangjian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,289},{69,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>dt-fangjian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,360},{67,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>dt-fangjian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>dt-fangjiandouz.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,240},{15,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>dt-fanhuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{81,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,28}}</string>
                <key>sourceSize</key>
                <string>{83,28}</string>
            </dict>
            <key>dt-fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,481},{91,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>dt-fengshengsuiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,254},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>dt-fuyoushihai.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,381},{100,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>dt-huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,514},{56,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,37}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>dt-huoodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,706},{53,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>dt-jiangshilaoye.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,444},{91,35}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>dt-jiangshipangbianbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,240},{172,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{172,47}}</string>
                <key>sourceSize</key>
                <string>{178,53}</string>
            </dict>
            <key>dt-jiangshiyaozhai.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,496},{88,35}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>dt-jijingzhidou.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,350},{102,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>dt-jingnang.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,623},{32,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>dt-kuaisuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,289},{122,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{124,29}</string>
            </dict>
            <key>dt-nonggengchumu.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,320},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>dt-paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>dt-putongchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,465},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>dt-shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,774},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>dt-songdoufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,174},{78,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{82,27}</string>
            </dict>
            <key>dt-touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{59,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>dt-tuding.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,257},{11,6}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{21,8}</string>
            </dict>
            <key>dt-xiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{213,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,115}}</string>
                <key>sourceSize</key>
                <string>{213,115}</string>
            </dict>
            <key>dt-xiaosongdoufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,429},{86,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,29}}</string>
                <key>sourceSize</key>
                <string>{86,29}</string>
            </dict>
            <key>dt-youxidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,174},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>dt-yuantuting.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,320},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>dt-zhiliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,460},{91,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,34}}</string>
                <key>sourceSize</key>
                <string>{95,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dating.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca3bb909694c809c3f084fac53a1d07:cadaaad002cf0f822de1aaeaebf861fc:554bfe52fc6e2e0710a0e5472138a6c6$</string>
            <key>textureFileName</key>
            <string>dating.png</string>
        </dict>
    </dict>
</plist>
