<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,308},{42,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{42,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>2fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,297},{44,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{44,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>3fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,304},{44,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{44,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>be_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,432},{72,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{72,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>btn_cancel_delegate.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{130,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,432},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>diaotian02-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,220},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>diaotian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,184},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>info_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,234},{48,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{48,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>info_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,228},{48,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{48,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>poke_bg_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,334},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>poke_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,284},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>prepare_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,184},{48,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{48,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>request_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{72,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{72,28}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>role_farmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,307},{37,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{37,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>role_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,258},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>shezi-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,60},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>shezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>top_panel_anjianzuhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,118},{48,44}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{48,44}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>top_panel_anjianzuhe_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,68},{48,44}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{48,44}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>top_panel_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,75}}</string>
                <key>sourceSize</key>
                <string>{428,75}</string>
            </dict>
            <key>top_panel_delegate.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,264},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>top_panel_delegate_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,260},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>top_panel_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,214},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>top_panel_exit_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,168},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>top_panel_jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,170},{48,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>top_panel_jipaiqi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,120},{48,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>top_panel_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,118},{50,64}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>top_panel_paihangbang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,68},{50,64}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaming.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d2677f160a46cfc45d2191bb64da7d:1/1$</string>
            <key>textureFileName</key>
            <string>gaming.png</string>
        </dict>
    </dict>
</plist>
