<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,966},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>VIP_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,874},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>beans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,26},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,692},{105,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{107,61}</string>
            </dict>
            <key>btn_data_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,585},{105,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{107,61}</string>
            </dict>
            <key>btn_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,881},{105,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{107,61}</string>
            </dict>
            <key>btn_feedback_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,881},{105,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{107,61}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,655},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_menu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,582},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,491},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_prop_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,397},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_quick_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,336},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>btn_quick_game_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,336},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,874},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>btn_store_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,799},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,336},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>daoju_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>dashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,733},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>datingbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,332}}</string>
                <key>sourceSize</key>
                <string>{800,332}</string>
            </dict>
            <key>fangjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,336},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,200},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>gaoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,585},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,533},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>pai_fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,991},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>pai_heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>pai_hongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>pai_meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,991},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>qj_zuo_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,533},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>xinshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,733},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>zhongshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,585},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7363cca3f0b0fbdcd9de6cf5a6e535f5$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
