<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,607},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>VIP_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,608},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>beans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,211},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,336},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_menu_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>btn_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,608},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_prop_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,608},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,607},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>btn_store_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,607},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>chongzhika.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,901},{121,96}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{121,96}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>datingbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,332}}</string>
                <key>sourceSize</key>
                <string>{800,332}</string>
            </dict>
            <key>dianjiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{208,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,207}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>dizhusongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,336},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fangjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,409},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,409},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,409},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,700},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,409},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>fangjian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,703},{195,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>hongmi.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,902},{99,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{99,120}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>huobaohuodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,336},{145,28}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{145,28}}</string>
                <key>sourceSize</key>
                <string>{161,40}</string>
            </dict>
            <key>huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,336},{67,67}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{67,67}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>huodong_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,336},{67,67}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{67,67}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>huodongjiangpin.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,898},{108,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>huodongxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,336},{145,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{145,28}}</string>
                <key>sourceSize</key>
                <string>{157,36}</string>
            </dict>
            <key>ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{105,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{105,120}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>laohuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,336},{81,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{81,65}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>laohuji_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,336},{81,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{81,65}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,898},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>nongminsongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,336},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,607},{152,137}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{152,137}}</string>
                <key>sourceSize</key>
                <string>{164,137}</string>
            </dict>
            <key>paihangbang_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,606},{152,137}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{152,137}}</string>
                <key>sourceSize</key>
                <string>{164,137}</string>
            </dict>
            <key>qj_zuo_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,950},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>shouchongdalibao_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{292,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{292,164}}</string>
                <key>sourceSize</key>
                <string>{302,174}</string>
            </dict>
            <key>songdoufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>songhuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,211},{197,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,196}}</string>
                <key>sourceSize</key>
                <string>{197,196}</string>
            </dict>
            <key>yidongdianyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,901},{113,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{113,118}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da0a917ce571f0579a785087899df36c:1/1$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
