<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_confirm_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,95},{91,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,44}}</string>
                <key>sourceSize</key>
                <string>{91,46}</string>
            </dict>
            <key>btn_confirm_change_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{91,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,46}}</string>
                <key>sourceSize</key>
                <string>{91,46}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,124},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>daoju_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>fenggexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{536,2}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,2}}</string>
                <key>sourceSize</key>
                <string>{546,2}</string>
            </dict>
            <key>genghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,63},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>genghuan_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,63},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>jiben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>jiben_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>touxiang00_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,456},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang00_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,456},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,389},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,354},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,354},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,287},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang50.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,252},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang51.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,252},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang52.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,185},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiang53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,124},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>upload_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,188},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>xiugai_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,59}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>info.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea2c1f998ff9fe898b6c972124806bda$</string>
            <key>textureFileName</key>
            <string>info.png</string>
        </dict>
    </dict>
</plist>
