<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,74},{90,14}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,52},{90,14}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,22},{92,14}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,52},{92,14}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,22},{92,18}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,49},{92,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{92,18}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{92,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{92,18}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{92,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,86},{90,20}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{90,20}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{90,18}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{90,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{88,48}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{88,48}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,70},{90,18}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{90,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,156},{88,18}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,48},{88,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,54},{90,18}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{90,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,50},{90,18}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{90,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,108},{88,18}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,48},{88,18}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{88,48}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{88,48}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{88,48}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{88,48}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{88,48}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{88,48}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,184},{84,46}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{84,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{72,46}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{72,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,340},{72,46}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{72,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10039.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,332},{72,46}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{72,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,452},{54,46}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,17},{54,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10041.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,452},{54,46}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,16},{54,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10042.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,428},{60,46}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,16},{60,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10043.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,380},{64,46}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{64,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10044.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,286},{70,46}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{70,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10045.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,292},{72,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{72,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10046.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,292},{76,46}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{76,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10047.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,192},{80,46}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{80,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{86,46}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{86,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10049.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,42},{90,46}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{90,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10050.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{92,46}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{92,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10051.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,90},{88,46}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{88,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10052.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,90},{88,46}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{88,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10053.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,38},{90,46}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{90,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10054.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,138},{88,44}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{88,44}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10055.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,108},{88,44}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{88,44}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10056.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{76,34}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{76,34}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10057.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,80},{74,38}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{74,38}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,42}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,42}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10059.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,284},{76,46}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,46}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10060.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,242},{76,48}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{76,48}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10061.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,208},{76,48}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{76,48}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10062.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,208},{76,50}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{76,50}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10064.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,240},{76,50}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{76,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10065.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,232},{76,50}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{76,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10066.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,190},{76,50}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{76,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10067.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,154},{76,52}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,52}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{70,52}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10069.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,312},{68,50}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{68,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10070.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,428},{62,50}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10071.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,392},{58,50}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{58,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10072.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,428},{62,50}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{62,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10073.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,340},{66,50}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{66,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10074.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,420},{70,50}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{70,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10075.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,260},{74,50}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{74,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{78,50}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{78,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10077.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,138},{84,50}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{84,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10078.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,140},{86,50}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{86,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10079.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{92,50}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{92,50}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>10080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,52}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{94,52}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouchonglibao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bdd7270d4aa9aa164aa1747be8862e4:1/1$</string>
            <key>textureFileName</key>
            <string>shouchonglibao.png</string>
        </dict>
    </dict>
</plist>
