<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizhushengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{332,145}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{332,145}}</string>
                <key>sourceSize</key>
                <string>{440,169}</string>
            </dict>
            <key>nongminshengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{332,145}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{332,145}}</string>
                <key>sourceSize</key>
                <string>{440,169}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,242},{116,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>wenzi_bisaibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,200},{116,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>wenzi_fuxingdoudizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{456,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,97}}</string>
                <key>sourceSize</key>
                <string>{456,97}</string>
            </dict>
            <key>wenzi_gerenziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,367},{159,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_huobaohuodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,528},{157,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{157,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_huodongxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,324},{159,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_huodongzhou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,533},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,533},{139,32}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{211,32}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{211,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{139,32}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_mimazhaohui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{159,39}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,531},{101,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>wenzi_quanmingdoudizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,97}}</string>
                <key>sourceSize</key>
                <string>{456,97}</string>
            </dict>
            <key>wenzi_songdou.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,494},{101,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>wenzi_songhuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,284},{101,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>wenzi_youxibangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,492},{159,39}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,451},{159,39}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxifankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,410},{159,39}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxijianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,163},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxishangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{159,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_wenzi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a54774245a83ccb0287a5f184eb719:1/1$</string>
            <key>textureFileName</key>
            <string>ui_wenzi.png</string>
        </dict>
    </dict>
</plist>
