<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizhushengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{332,145}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{332,145}}</string>
                <key>sourceSize</key>
                <string>{440,169}</string>
            </dict>
            <key>nongminshengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{332,145}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{332,145}}</string>
                <key>sourceSize</key>
                <string>{440,169}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,242},{116,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>wenzi_VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,284},{82,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{82,36}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>wenzi_VIPlicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,324},{162,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{162,40}}</string>
                <key>sourceSize</key>
                <string>{168,42}</string>
            </dict>
            <key>wenzi_banyejijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,684},{139,32}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_bisaibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,200},{116,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>wenzi_bisaisonghuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{197,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{197,40}}</string>
                <key>sourceSize</key>
                <string>{197,46}</string>
            </dict>
            <key>wenzi_changgongyaozhai.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,673},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_dizhupochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,650},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_dizhuzhiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,639},{139,32}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_fuxingdoudizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{456,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,97}}</string>
                <key>sourceSize</key>
                <string>{456,97}</string>
            </dict>
            <key>wenzi_gerenziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,409},{159,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_huobaohuodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,534},{157,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{157,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_huodongxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,366},{159,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_huodongzhou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,673},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,684},{139,32}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{211,32}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{211,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,639},{139,32}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,616},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,650},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_huodongzhou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,605},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_mimazhaohui.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,575},{159,39}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,568},{101,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>wenzi_quanmingdoudizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,97}}</string>
                <key>sourceSize</key>
                <string>{456,97}</string>
            </dict>
            <key>wenzi_shangxindexiaobaicai.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{211,32}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{211,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{144,146}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>wenzi_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,707},{138,68}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{138,68}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>wenzi_songdou.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,531},{101,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>wenzi_songhuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,494},{101,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>wenzi_tudijianbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,605},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_wugufengdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,616},{139,32}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{139,32}}</string>
                <key>sourceSize</key>
                <string>{267,44}</string>
            </dict>
            <key>wenzi_youxibangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,534},{159,39}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,493},{159,39}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxifankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,452},{159,39}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{159,39}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxijianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,163},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>wenzi_youxishangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{159,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{159,41}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_wenzi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dfa19e705f7dcd02ec68d94b98ac071:1/1$</string>
            <key>textureFileName</key>
            <string>ui_wenzi.png</string>
        </dict>
    </dict>
</plist>
