<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ziliao1/zl-beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1286},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>ziliao1/zl-xiaoguotu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{484,484},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,2},{80,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,29}}</string>
                <key>sourceSize</key>
                <string>{82,29}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-genghuantouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,240},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-gerenzhiliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,69},{181,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,66}}</string>
                <key>sourceSize</key>
                <string>{181,66}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-jibenzhiliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,165},{94,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,48},{84,37}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,37}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,117},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-wodedaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,121},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-xiugaimima.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,200},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>ziliao1/zl-xiaotu/zl-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,48},{205,19}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{205,19}}</string>
                <key>sourceSize</key>
                <string>{217,29}</string>
            </dict>
            <key>ziliao2/zl-xiaoguotu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>ziliao2/zl-xiaotu/zl-anniudiceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,84},{172,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,41}}</string>
                <key>sourceSize</key>
                <string>{178,47}</string>
            </dict>
            <key>ziliao2/zl-xiaotu/zl-xiaotu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,41},{105,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{105,20}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>ziliao2/zl-xiaotu/zl-xiaotu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,63},{104,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{104,21}}</string>
                <key>sourceSize</key>
                <string>{116,25}</string>
            </dict>
            <key>ziliao2/zl-xiaotu/zl-xiaotu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,19},{105,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{105,20}}</string>
                <key>sourceSize</key>
                <string>{117,24}</string>
            </dict>
            <key>ziliao2/zl-xiaotu/zl-xiaotu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,258},{71,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>ziliao2/zl-xiaotu/zl-xiaotu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,172},{69,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,31}</string>
            </dict>
            <key>ziliao3/zl-xiaoguotu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/gouxuan-kuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,275},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-50%.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,121},{39,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{39,16}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-5sheng5fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,111},{60,17}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,17}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-bangdingshuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,86},{101,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{101,33}}</string>
                <key>sourceSize</key>
                <string>{111,35}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,137},{157,33}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{157,33}}</string>
                <key>sourceSize</key>
                <string>{173,43}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-douzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,203},{61,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{61,31}}</string>
                <key>sourceSize</key>
                <string>{69,31}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-gougou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,216},{30,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{30,26}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-kuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,275},{28,28}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,28}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,90},{19,20}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{19,20}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-nicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,270},{59,32}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{59,32}}</string>
                <key>sourceSize</key>
                <string>{69,38}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,69},{20,19}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,19}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-shenglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,236},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-shuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,162},{52,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,15}}</string>
                <key>sourceSize</key>
                <string>{62,15}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-xiaotu_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{113,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{113,15}}</string>
                <key>sourceSize</key>
                <string>{121,19}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-xingbie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,242},{60,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,213},{61,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{69,34}</string>
            </dict>
            <key>ziliao3/zl-xiaotu/zl-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,137},{74,14}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{74,14}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>ziliao4/zl-xiaoguotu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>ziliao4/zl-xiaoguotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>ziliao4/zl-xiaotu/zl-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,87},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,28}</string>
            </dict>
            <key>ziliao4/zl-xiaotu/zl-jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,173},{66,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,24}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>ziliao4/zl-xiaotu/zl-shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,231},{71,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>ziliao4/zl-xiaotu/zl-shiyongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,194},{72,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,35}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>ziliao4/zl-xiaotu/zl-xiaotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,172},{68,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ziliao4/zl-xiaotu/zl-zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{294,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{294,44}}</string>
                <key>sourceSize</key>
                <string>{300,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>geren_ziliao.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44402bfc7b60d8cbba513ce10a733476:1/1$</string>
            <key>textureFileName</key>
            <string>geren_ziliao.png</string>
        </dict>
    </dict>
</plist>
