<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>youxizhong1/yx-beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,804},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>youxizhong1/yxz-xiaoguotu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1968},{101,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,32}}</string>
                <key>sourceSize</key>
                <string>{103,32}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1929},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/anniu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1929},{99,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,32}}</string>
                <key>sourceSize</key>
                <string>{101,32}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz-touxangnan.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1962},{78,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1606},{44,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1672},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1725},{41,41}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-anjian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2009},{50,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,36}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{786,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,99}}</string>
                <key>sourceSize</key>
                <string>{790,99}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-dishuz.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2025},{56,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{56,16}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-douzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1968},{16,16}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1929},{89,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,31}}</string>
                <key>sourceSize</key>
                <string>{89,33}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1989},{96,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1963},{65,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{65,69}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1929},{99,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,32}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-shoumuban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1707},{425,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{425,53}}</string>
                <key>sourceSize</key>
                <string>{429,53}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-shuzhi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1968},{19,16}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{19,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-touxiang nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1929},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-touxiang nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1963},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-xiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1849},{178,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,40}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-xiapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2009},{35,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,52}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-zhongjiandapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1762},{48,189}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,189}}</string>
                <key>sourceSize</key>
                <string>{52,191}</string>
            </dict>
            <key>youxizhong1/yxz1-xiaotu/yxz1-zhongjianpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1963},{52,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
            <key>youxizhong2/youxizhong-xiaoguotu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2017},{28,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-kulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1606},{64,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-pingmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1725},{36,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1849},{138,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,69}}</string>
                <key>sourceSize</key>
                <string>{144,71}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-tishibeijingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1707},{376,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{376,220}}</string>
                <key>sourceSize</key>
                <string>{378,220}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz2-tishimuban.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1762},{261,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{261,79}}</string>
                <key>sourceSize</key>
                <string>{263,79}</string>
            </dict>
            <key>youxizhong2/yxz2-xiaotu/yxz3-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1953},{92,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,32}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>youxizhong3/youxizhong-xiaoguotu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-beijingban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{265,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{265,85}}</string>
                <key>sourceSize</key>
                <string>{267,85}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1953},{92,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,32}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1849},{144,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,117}}</string>
                <key>sourceSize</key>
                <string>{148,117}</string>
            </dict>
            <key>youxizhong3/yxz3-xiaotu/yxz3-xiaolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1963},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youxi_zhong.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:015f43eadeae264e233940b510ac5428:1/1$</string>
            <key>textureFileName</key>
            <string>youxi_zhong.png</string>
        </dict>
    </dict>
</plist>
